.container-cartaz {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #153955;
}
.cartaz-meio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  padding-block: 120px;

  @media screen and (max-width: 1280px) {
    width: 90%;
  }
}

.section-cartaz {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.section-title-cartaz {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  button,
  a {
    text-decoration: none;
    width: 40%;
    padding-block: 20px;
    border-radius: 3px;
    border: 1px solid #1ab394;
    background: #1ab394;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    transform: scale(1);
    transition: 0.7s;
    border-radius: 25px;

    @media screen and (max-width: 900px) {
      width: 70%;
    }
    @media screen and (max-width: 768px) {
      width: 95%;
    }

    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }
  }

  h1 {
    margin-bottom: 10px;
    width: 100%;
    font-size: 45px;
    line-height: 57px;
    font-weight: 700;
    font-style: normal;
    color: #f2f2f2;
    text-align: center;
  }
  span {
    color: #1ab394;
  }
}

.section-cartazes-cartaz {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  padding-block: 50px;
}

.section-duble-cartaz {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media screen and (max-width: 900px) {
    flex-direction: column;
    justify-content: center;
  }
}

.section-duble-cartaz-divs {
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 49%;
  padding: 25px;
  padding-block: 30px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: #f2f2f2;

 

  @media screen and (max-width: 900px) {
    width: 95%;
  }

  h2 {
    margin-bottom: 5px;
    width: 100%;
    font-size: 28px;
    font-weight: 550;
    font-style: normal;
    text-align: start;
  }

  p {
    width: 100%;
    font-size: 16px;
    color: black;
    font-style: normal;
    text-align: start;
  }

  .section-duble-cartaz-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;

    img {
      object-fit: contain;
      width: 100px;
      height: 100px;
    }
  }
  transition: 0.8s;
  &:hover {
    transition: 0.4s;
    box-shadow: 1px 1px #1ab394, 2px 2px #1ab394, 3px 3px #1ab394,
      4px 4px #1ab394, 5px 5px #1ab394, 6px 6px #1ab394, 2px 2px #1ab394;
    transform: translateX(-3px);
  }
}
