@import "../../App.scss";

.container-header {
  background-color: #153955;
  display: flex;
  height: 90px;
  justify-content: center;
  align-items: center;
  padding-block: 45px;

  z-index: 999;
  position: relative;

  img {
    width: 150px;
    object-fit: contain;
  }
}

.container-section {
  min-height: auto;
  height: auto;
  padding-block: 100px;
  width: 100%;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #153955;
}

.section-meio {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.flash {
  border-radius: 10px;
  width: 100px;
  margin-bottom: 15px;
  height: 4px;
  background-color: #1ab394;
}
.section-inf {
  padding-block: 30px;
  width: 49%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 10px;

  p {
    padding-block: 15px;
    height: 100px;
    width: 100%;
    text-align: start;
    font-size: 26px;
    color: #f2f2f2;
  }

  h1 {
    margin-bottom: 10px;
    width: 100%;
    font-size: 45px;
    line-height: 57px;
    font-weight: 700;
    font-style: normal;
    color: $cor-de-title;
    color: #f2f2f2;
  }
  span {
    color: #1ab394;
  }
}

.section-form {
  width: 49%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
}

.form-table {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.form-inf {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
  }

  .label-input {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    margin: 12px 0px;
    span {
      color: #f74926;
    }

    label {
      font-size: 14px;
      margin-bottom: 5px;
    }
    input,
    select {
      background-color: #f5f8fa;
      height: 40px;
      width: 100%;
      padding: 10px;
      padding-inline: 10px;
      border: solid 1px rgb(226, 226, 226);
      border-radius: 3px;
      font-weight: 500;
      outline: none; /* Remove a borda padrão do elemento quando em foco */

      &:focus {
        border: solid 1px rgb(173, 216, 230); /* Define a cor de borda azul claro quando em foco */
      }
    }
  }
  button {
    margin-top: 30px;
    width: 100%;
    padding-block: 10px;
    border-radius: 3px;
    border: 1px solid #1ab394;
    color: #fff;
    background: #1ab394;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }
}
