.container-Footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000d16;
  padding-block: 40px;
}

.section-meio-Footer {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-contato {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  h1 {
    margin-bottom: 10px;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    color: #f2f2f2;
  }
  p {
    margin-bottom: 15px;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    color: #f2f2f2;
  }
}

.section-localizacao {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 40%;

  p {
    margin-bottom: 15px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #f2f2f2;
  }
}
.section-localizacao-link {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;

  gap: 10px;
  img {
    object-fit: contain;
    width: 25px;
    height: 25px;
  }
}
