@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

$cor-de-fundo: #f0f7ff;

$cor-de-fonteP: #485460;

$cor-de-title: #0b0040;

$tamanho-de-fonteP: 18px;

* {
  scroll-behavior: smooth;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  p {
    font-size: $tamanho-de-fonteP;
    color: $cor-de-fonteP;
  }

  button {
    cursor: pointer;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }
}

body {
  scroll-behavior: smooth;
  font-family: "Manrope", sans-serif;
  background-color: #ffff;
}

/* Estilize a barra de rolagem */
::-webkit-scrollbar {
  width: 6px; /* Largura da barra de rolagem */
  background-color: #1ab394;
}

/* Estilize o polegar da barra de rolagem (a parte que você arrasta) */
::-webkit-scrollbar-thumb {
  background: #1ab394; /* Cor de fundo do polegar */
  border-radius: 15px; /* Raio das bordas do polegar */
}

/* Estilize a faixa da barra de rolagem */
::-webkit-scrollbar-track {
  background: #000000; /* Cor de fundo da faixa da barra de rolagem */
}

/* Estilize os botões de seta, se disponíveis */
