.container-FormFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-block: 100px;
}
.section-meio-FormFooter {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-img-FormFooter {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: start;
  img {
    padding: 30px;
    width: 100%;
    object-fit: contain;
    height: 100%;
  }
}
