.container-FormFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  padding-block: 60px;
  background-color: #0f9277;
}
.section-meio-FormFooter {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-img-FormFooter {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: start;

  img {
    width: 100%;
    height: 100%;
  }
}
